pandas
numpy
cython
youtokentome
hydra-core
dvc
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.1.2+cu121
nltk
pymystem3
lightning
openpyxl
ipykernel
matplotlib
scikit-learn
wandb
einops
onnx
onnxruntime